@import "~node_modules/modern-normalize/modern-normalize.css";
:root {
  --main-color: #010101;
  --main-background-color: #ffffff;
  --secondary-background-color: #010101;
  --black-text-color: #010101;
  --white-text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #ffffff;
  --button-background-hover-color: #0514f0;
  --button-text-hover-color: #ffffff;
  --button-background-disabled-color: #F5F5F5
  --button-text-disabled-color: #ffffff;
  --shadow-background-color: #010101;
  --other-background-color: #F5F5F5
  --transition-duration: 300ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: DM Sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 56px;
  margin: 0 auto;
}

/* <!-- HEADER --> */
.section-timer {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white-text-color);
}

.timer-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.container-timer {
  padding: 56px 0 44px;
}
@media screen and (min-width: 744px) {
  .container-timer {
    padding: 46px 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container-timer {
    padding: 209px 0 169px;
  }
}

.subtext-timer {
  margin-bottom: 18px;
  font-family: Rubik;
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (min-width: 744px) {
  .subtext-timer {
    font-size: 0.875rem;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .subtext-timer {
    font-size: 1.5625rem;
    margin-bottom: 68px;
  }
}

.timer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
@media screen and (min-width: 744px) {
  .timer-wrapper {
    gap: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .timer-wrapper {
    gap: 30px;
  }
}

.timer-value,
.timer-devider {
  font-family: "Press Start 2P", cursive;
  font-size: 1.25rem;
}
@media screen and (min-width: 744px) {
  .timer-value,
  .timer-devider {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .timer-value,
  .timer-devider {
    font-size: 4.75rem;
  }
}

.timer-text {
  font-size: 0.5rem;
  font-weight: 500;
}
@media screen and (min-width: 744px) {
  .timer-text {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .timer-text {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=index.css.map */