@charset "UTF-8";
@import "~node_modules/modern-normalize/modern-normalize.css";
:root {
  --main-color: #010101;
  --main-background-color: #ffffff;
  --secondary-background-color: #010101;
  --black-text-color: #010101;
  --white-text-color: #ffffff;
  --button-background-color: #ffffff;
  --button-text-color: #ffffff;
  --button-background-hover-color: #0514f0;
  --button-text-hover-color: #ffffff;
  --button-background-disabled-color: #F5F5F5
  --button-text-disabled-color: #ffffff;
  --shadow-background-color: #010101;
  --other-background-color: #F5F5F5
  --transition-duration: 600ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: DM Sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 1440px;
  padding: 0 56px;
  margin: 0 auto;
  padding: 0 30px 33px 30px;
  /* @media screen and (min-width: 320px) {
    width: 320px;
    margin: 0 auto;
  }
  @media screen and (min-width: 744px) {
    width: 744px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 0 16px;
  } */
}

.section-header {
  background-color: var(--secondary-background-color);
}

.header {
  align-self: center;
  color: var(--white-text-color);
  font-family: "Press Start 2P";
}

.nav {
  position: relative;
  padding-bottom: 40px;
}
@media screen and (min-width: 744px) {
  .nav {
    padding: 0 47px;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    padding: 16px 0 71px 0;
  }
}

.nav-logo-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 744px) {
  .nav-logo-wrapper {
    flex-direction: row;
  }
}
.nav-logo-link {
  cursor: pointer;
  margin-top: 10px;
  align-self: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 336px;
}
@media screen and (min-width: 744px) {
  .nav-logo-link {
    margin-right: 0;
  }
}

.nav-logo-pic {
  display: block;
  width: 78px;
  height: 57px;
}

.nav-logo-text-pic {
  display: block;
  width: 142px;
  height: 13px;
  margin-right: 34px;
}
@media screen and (min-width: 744px) {
  .nav-logo-text-pic {
    margin-right: 0;
  }
}

.nav-open-pic {
  top: 16px;
  right: 22px;
  position: absolute;
  width: 44px;
  height: 44px;
}
@media screen and (min-width: 1440px) {
  .nav-open-pic {
    display: none;
  }
}

.nav-button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--white-text-color);
  font-family: Rubik;
  min-width: 140px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px;
  border: 1px solid var(--white-text-color);
  transition: background-color 300ms var(--transition-timing), color 300ms var(--transition-timing);
  display: none;
}
.nav-button:hover, .nav-button:focus {
  color: var(--black-text-color);
  background-color: var(--main-background-color);
}
@media screen and (min-width: 744px) {
  .nav-button {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .nav-button {
    display: block;
    margin-right: 50px;
  }
}

.mob-nav-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  display: none;
}
@media screen and (min-width: 1440px) {
  .mob-nav-list-wrapper {
    display: flex;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 72px;
}
@media screen and (min-width: 744px) {
  .nav-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.nav-item {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
}
.nav-item:not(:last-child) {
  margin-bottom: 34px;
}
@media screen and (min-width: 1440px) {
  .nav-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .nav-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.nav-item-link {
  cursor: pointer;
}

.nav-item-number {
  margin-right: 12px;
  font-family: "Press Start 2P";
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
}
@media screen and (min-width: 744) {
  .nav-item-number {
    display: none;
  }
}

.hero-animation-wrapper {
  position: absolute;
  top: 100px;
  right: 90px;
  height: 400px;
}
@media screen and (min-width: 744) {
  .hero-animation-wrapper {
    top: 100px;
    right: 190px;
    height: 600px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-animation-wrapper {
    top: 200px;
    right: 290px;
    height: 400px;
  }
}

.hero-animation {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin-left: 100px;
  margin-top: 100px;
  animation: rotate 10s linear infinite;
}

.hero-letter {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 744px) {
  .hero-letter {
    width: 56px;
    height: 78px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-letter {
    width: 122px;
    height: 106px;
  }
}
.hero-letter:nth-child(1) {
  transform: translate(-150%, -50%) rotate(0deg) translateX(80px) rotate(0deg);
}
@media screen and (min-width: 744px) {
  .hero-letter:nth-child(1) {
    transform: translate(-150%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
  }
}
@media screen and (min-width: 1440px) {
  .hero-letter:nth-child(1) {
    transform: translate(-150%, -50%) rotate(0deg) translateX(250px) rotate(0deg);
  }
}
.hero-letter:nth-child(2) {
  transform: translate(-50%, -50%) rotate(72deg) translateX(80px) rotate(-72deg);
}
@media screen and (min-width: 744px) {
  .hero-letter:nth-child(2) {
    transform: translate(-50%, -50%) rotate(72deg) translateX(150px) rotate(-72deg);
  }
}
@media screen and (min-width: 1440px) {
  .hero-letter:nth-child(2) {
    transform: translate(-50%, -50%) rotate(72deg) translateX(160px) rotate(-72deg);
  }
}
.hero-letter:nth-child(3) {
  transform: translate(50%, -50%) rotate(144deg) translateX(80px) rotate(-144deg);
}
@media screen and (min-width: 744px) {
  .hero-letter:nth-child(3) {
    transform: translate(50%, -50%) rotate(144deg) translateX(150px) rotate(-144deg);
  }
}
@media screen and (min-width: 1440px) {
  .hero-letter:nth-child(3) {
    transform: translate(50%, -50%) rotate(144deg) translateX(250px) rotate(-144deg);
  }
}
.hero-letter:nth-child(4) {
  transform: translate(10%, 50%) rotate(216deg) translateX(80px) rotate(-216deg);
}
@media screen and (min-width: 744px) {
  .hero-letter:nth-child(4) {
    transform: translate(10%, 50%) rotate(216deg) translateX(150px) rotate(-216deg);
  }
}
@media screen and (min-width: 1440px) {
  .hero-letter:nth-child(4) {
    transform: translate(10%, 50%) rotate(216deg) translateX(240px) rotate(-216deg);
  }
}
.hero-letter:nth-child(5) {
  transform: translate(-100%, -10%) rotate(288deg) translateX(80px) rotate(-288deg);
}
@media screen and (min-width: 744px) {
  .hero-letter:nth-child(5) {
    transform: translate(-100%, -10%) rotate(288deg) translateX(150px) rotate(-288deg);
  }
}
@media screen and (min-width: 1440px) {
  .hero-letter:nth-child(5) {
    transform: translate(-100%, -10%) rotate(288deg) translateX(240px) rotate(-288deg);
  }
}

.hero-animation-icon {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero-wrapper {
  padding: 0 30px;
  margin-top: 120px;
}
@media screen and (min-width: 744px) {
  .hero-wrapper {
    margin-top: 56px;
    padding: 0;
    padding-bottom: 71px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-wrapper {
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 0px;
  }
}

.hero-wrapper-top {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 744px) {
  .hero-wrapper-top {
    flex-direction: column-reverse;
    margin-bottom: 26px;
  }
}

.hero-wrapper-middle {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 744px) {
  .hero-wrapper-middle {
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-wrapper-middle {
    margin-bottom: 20px;
  }
}

.hero-title {
  display: block;
  font-family: "Press Start 2P";
  font-size: 26px;
  line-height: 1.54;
}
@media screen and (min-width: 744px) {
  .hero-title {
    font-size: 48px;
    line-height: 1.58;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    font-size: 76px;
    line-height: 1.2;
  }
}

.hero-date-text {
  display: block;
  margin-top: 28px;
  font-family: Rubik;
  font-size: 16px;
}
@media screen and (min-width: 744px) {
  .hero-date-text {
    margin-top: 0px;
    margin-right: 40px;
  }
}
.hero-place-text {
  display: block;
  margin-top: 10px;
  font-family: Rubik;
  font-size: 16px;
}
@media screen and (min-width: 744px) {
  .hero-place-text {
    margin-top: 0px;
  }
}

.hero-bottom-text {
  font-family: Rubik;
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.66;
  text-transform: uppercase;
}
@media screen and (min-width: 744px) {
  .hero-bottom-text {
    margin-top: 0px;
    margin-bottom: 70px;
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .hero-bottom-text {
    margin-top: 40px;
  }
}

.hero-button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--white-text-color);
  font-family: Rubik;
  margin-top: 34px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  padding: 14px auto;
  border: 1px solid var(--white-text-color);
  transition: background-color 300ms var(--transition-timing), color 300ms var(--transition-timing);
}
.hero-button:hover, .hero-button:focus {
  color: var(--black-text-color);
  background-color: var(--main-background-color);
}
@media screen and (min-width: 744px) {
  .hero-button {
    width: 260px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-button {
    display: none;
  }
}

.hero-move-down-wrapper {
  font-family: Rubik;
  font-size: 14px;
  display: none;
}
@media screen and (min-width: 1440px) {
  .hero-move-down-wrapper {
    display: flex;
  }
}

.hero-move-down-link {
  display: flex;
  cursor: pointer;
}

.hero-move-down-text {
  width: 40px;
}

.hero-move-down-img {
  display: flex;
  align-self: flex-end;
  width: 18px;
  height: 37px;
  animation: columnAnimation 1.5s infinite ease-in-out;
}

@keyframes columnAnimation {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(7px);
  }
}
.follow-us-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  font-family: Rubik;
}
@media screen and (min-width: 744px) {
  .follow-us-wrapper {
    display: none;
  }
}
.follow-us-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.follow-us-list {
  display: flex;
}

.follow-us-item:not(:last-child) {
  margin-right: 12px;
}

.follow-us-link {
  cursor: pointer;
  color: #676b70;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.78;
}

.section-about {
  margin-right: 30px;
  margin-bottom: 34px;
  border-bottom: 1px solid #f5f5f5;
}
@media screen and (min-width: 744px) {
  .section-about {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1440px) {
  .section-about {
    position: relative;
    margin-right: 55px;
  }
}

.section-about-name {
  font-family: Rubik;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .section-about-name {
    margin-top: 96px;
    margin-bottom: 59px;
    font-size: 20px;
  }
}
.section-about-name::before {
  content: "";
  display: inline-block;
  width: 46px;
  border-top: 1px solid #010101;
  margin-right: 10px;
  vertical-align: super;
}
@media screen and (min-width: 1440px) {
  .section-about-name::before {
    width: 77px;
    margin-right: 16px;
    position: absolute;
    top: 10px;
    left: -89px;
  }
}

.section-about-title {
  width: 200px;
  text-transform: uppercase;
  font-family: "Press Start 2P";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}
@media screen and (min-width: 744px) {
  .section-about-title {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .section-about-title {
    width: 900px;
    font-size: 60px;
    margin-bottom: 44px;
  }
}

.section-about-text {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}
@media screen and (min-width: 744px) {
  .section-about-text {
    padding-bottom: 36px;
    width: 602px;
  }
}
@media screen and (min-width: 1440px) {
  .section-about-text {
    padding-bottom: 71px;
    width: 768px;
  }
}

.section-about-text > p {
  font-family: Rubik;
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .section-about-text > p {
    font-size: 20px;
  }
}
.section-about-text > p:last-child {
  margin-bottom: 0px;
}

.section-about-label {
  margin: 26px 0 34px 0;
  color: #f5f5f5;
  font-size: 62px;
  font-family: Rubik;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.8;
  transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 744px) {
  .section-about-label {
    font-size: 100px;
    line-height: 120px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .section-about-label {
    font-size: 200px;
    width: 831px;
    margin: 96px 0 42px 0;
  }
}
.section-about-label:hover,
.section-about-label :focus {
  color: #0513e6;
}

.section-about-label-wrap {
  width: 258px;
  display: flex;
}
@media screen and (min-width: 744px) {
  .section-about-label-wrap {
    width: auto;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .section-about-label-wrap {
    margin-bottom: 42px;
  }
}

.section-wrapper {
  margin-left: 30px;
  border-left: 1px solid #f5f5f5;
}
@media screen and (min-width: 744px) {
  .section-wrapper {
    margin-left: 55px;
  }
}
@media screen and (min-width: 1440px) {
  .section-wrapper {
    margin-left: 281px;
  }
}

.section-agenta {
  z-index: 3;
  max-width: 1980px;
  margin-right: 56px;
}
@media screen and (min-width: 744px) {
  .section-agenta {
    margin-right: 136px;
  }
}
@media screen and (min-width: 1440px) {
  .section-agenta {
    position: relative;
    margin-right: 56px;
  }
}

.section-agenta-name {
  font-family: Rubik;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 744px) {
  .section-agenta-name {
    margin-top: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .section-agenta-name {
    margin-top: 62px;
    margin-bottom: 59px;
    font-size: 16px;
  }
}
.section-agenta-name::before {
  content: "";
  display: inline-block;
  width: 46px;
  border-top: 1px solid #010101;
  margin-right: 10px;
  vertical-align: super;
}
@media screen and (min-width: 1440px) {
  .section-agenta-name::before {
    width: 77px;
    margin-right: 16px;
    position: absolute;
    top: 9px;
    left: -89px;
  }
}

.desktop-title {
  display: block;
}
@media screen and (min-width: 744px) {
  .desktop-title {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .desktop-title {
    display: block;
  }
}

.tablet-title {
  display: none;
}
@media screen and (min-width: 744px) {
  .tablet-title {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .tablet-title {
    display: none;
  }
}

.section-agenta-title {
  width: 260px;
  font-size: 20px;
  font-family: "Press Start 2P";
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
@media screen and (min-width: 744px) {
  .section-agenta-title {
    width: 400px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .section-agenta-title {
    font-size: 60px;
    width: 780px;
    height: 180px;
    line-height: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .section-agenta-label {
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: Rubik;
    font-size: 250px;
    font-weight: 800;
    transition: color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.section-agenta-label:hover,
.section-agenta-label :focus {
  color: #0513e6;
}

.section-agenta-label-wrap {
  display: none;
}
@media screen and (min-width: 1440px) {
  .section-agenta-label-wrap {
    display: flex;
    visibility: visible;
    justify-content: flex-end;
    position: absolute;
    top: 135px;
    right: 0px;
    line-height: 0.8;
    z-index: -1;
  }
}

.agenta-card-list {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 744px) {
  .agenta-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    border-bottom: 1px solid #f5f5f5;
  }
}
@media screen and (min-width: 1440px) {
  .agenta-card-list {
    border-top: 1px solid #f5f5f5;
    grid-column-gap: 52px;
    margin-top: 78px;
  }
}

.agenta-card {
  padding-bottom: 8px;
  width: 259px;
  display: flex;
  border-bottom: 1px solid #f5f5f5;
}
@media screen and (min-width: 744px) {
  .agenta-card {
    padding-bottom: 30px;
    width: 265px;
  }
}
@media screen and (min-width: 1440px) {
  .agenta-card {
    padding-left: 35px;
    padding-top: 30px;
    width: 508px;
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 744px) {
  .agenta-card-list li:nth-child(4n-3),
  .agenta-card-list li:nth-child(4n-2) {
    padding-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .agenta-card-list li:nth-child(4n-3),
  .agenta-card-list li:nth-child(4n-2) {
    padding-top: 30px;
  }
}

@media screen and (min-width: 744px) {
  .agenta-card-list li:nth-child(n+5) {
    display: none;
  }
}

@media screen and (max-width: 744px) {
  .agenta-card-list li:nth-child(n+2) {
    display: none;
  }
}

@media screen and (min-width: 1440) {
  .agenta-card-list li:nth-child(2n) {
    border-left: 1px solid #f5f5f5;
    margin-right: 168px;
  }
}

.agenta-card-number {
  margin-right: 14px;
  color: #010101;
  font-size: 16px;
  font-family: "Press Start 2P";
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}

.agenta-card-title {
  color: #010101;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  margin-bottom: 6px;
}
@media screen and (min-width: 1440px) {
  .agenta-card-title {
    font-size: 25px;
  }
}

.agenta-card-author {
  color: #010101;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 500;
  margin-bottom: 8px;
}
@media screen and (min-width: 744px) {
  .agenta-card-author {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .agenta-card-author {
    font-size: 20px;
    line-height: 32.36px;
  }
}

.agenta-card-text {
  color: #010101;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  line-height: 25px;
}

.agenta-scroll-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.agenta-scroll-button-text {
  color: #010101;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  line-height: 25px;
}

.agenta-scroll-arrow {
  margin-left: 25px;
  width: 37px;
  height: 18px;
  animation: rowAnimation 1.5s infinite ease-in-out;
}

.empty-scroll-wrap {
  border-right: 1px solid #f5f5f5;
}
@media screen and (min-width: 744px) {
  .empty-scroll-wrap {
    border-right: none;
  }
}

.agenta-scroll-button {
  margin-top: 19px;
  padding-bottom: 54px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (min-width: 744px) {
  .agenta-scroll-button {
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .agenta-scroll-button {
    margin-top: 48px;
    margin-right: 84px;
    padding-bottom: 129px;
  }
}

@media screen and (min-width: 1440px) {
  .section-agenta-lower-label {
    color: #f5f5f5;
    font-size: 250px;
    font-family: Rubik;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 200px;
    word-wrap: break-word;
    transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.section-agenta-lower-label:hover,
.section-agenta-lower-label :focus {
  color: #0513e6;
  z-index: 100;
}

.section-agenta-lower-label-wrap {
  display: none;
}
@media screen and (min-width: 1440px) {
  .section-agenta-lower-label-wrap {
    width: 554px;
    height: 200px;
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 690px;
    left: -224px;
    z-index: -1;
  }
}

.section-timer {
  background-color: var(--main-color);
  text-align: center;
  color: var(--white-text-color);
  font-family: "Rubik", sans-serif;
}

.timer-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.container-timer {
  padding: 56px 0 44px;
}
@media screen and (min-width: 744px) {
  .container-timer {
    padding: 46px 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container-timer {
    padding: 209px 0 169px;
  }
}

.subtext-timer {
  margin-bottom: 18px;
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (min-width: 744px) {
  .subtext-timer {
    font-size: 0.875rem;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .subtext-timer {
    font-size: 1.5625rem;
    margin-bottom: 68px;
  }
}

.timer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
@media screen and (min-width: 744px) {
  .timer-wrapper {
    gap: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .timer-wrapper {
    gap: 30px;
  }
}

.timer-value,
.timer-divider {
  font-family: "Press Start 2P", cursive;
  font-size: 1.25rem;
}
@media screen and (min-width: 744px) {
  .timer-value,
  .timer-divider {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .timer-value,
  .timer-divider {
    font-size: 4.75rem;
  }
}

.timer-text {
  font-size: 0.5rem;
  font-weight: 500;
}
@media screen and (min-width: 744px) {
  .timer-text {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .timer-text {
    font-size: 1.25rem;
  }
}

.container-text {
  color: var(--main-color);
  font-size: 14px;
  font-family: "Rubik";
  text-transform: uppercase;
  word-wrap: break-word;
}

.container-title {
  color: var(--main-color);
  font-size: 20px;
  font-family: "Press Start 2P";
  text-transform: uppercase;
  line-height: 32px;
  word-wrap: break-word;
  width: 200px;
}

.speakers-photo {
  width: 260px;
  height: 260px;
  filter: grayscale(100%);
}
.speakers-photo:hover, .speakers-photo:focus {
  transition: filter 0.5s ease;
  filter: grayscale(0%);
}
@media screen and (min-width: 1440px) {
  .speakers-photo {
    width: 320px;
    height: 320px;
  }
}

.speakers-name-text {
  color: var(--main-color);
  font-size: 18px;
  font-family: "Rubik";
  font-weight: 600;
  word-wrap: break-word;
}

.speakers-platform-text {
  color: var(--main-color);
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
  word-wrap: break-word;
}

.section-sponsors {
  margin-left: 31px;
  padding-top: 40px;
  border-top: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
  font-family: "Rubik", sans-serif;
  position: relative;
}
@media screen and (min-width: 744px) {
  .section-sponsors {
    margin-left: 55px;
  }
}

.section-sponsors-name {
  color: var(--main-color);
  font-size: 0.875rem;
  line-height: 1.185;
  position: relative;
  margin-left: 56px;
  margin-bottom: 26px;
}
@media screen and (min-width: 1280px) {
  .section-sponsors-name {
    margin-left: 157px;
    margin-bottom: 59px;
  }
}
.section-sponsors-name::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 1px;
  background-color: var(--main-color);
  left: -56px;
  top: 50%;
}

.sponsors-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 19px;
}
@media screen and (min-width: 744px) {
  .sponsors-title {
    margin-bottom: 43px;
  }
}
@media screen and (min-width: 1280px) {
  .sponsors-title {
    font-size: 3.75rem;
    margin-left: 250px;
  }
}

.sponsors-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
@media screen and (min-width: 744px) {
  .sponsors-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 74px;
    margin-right: 206px;
  }
}
@media screen and (min-width: 1280px) {
  .sponsors-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 250px;
    margin-right: 0;
  }
}

.sponsors-list-item {
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.sponsors-list-item img {
  width: 100px;
  height: auto;
}
@media screen and (min-width: 1280px) {
  .sponsors-list-item img {
    width: 200px;
  }
}

.section-sponsors-label-wrapper {
  display: none;
}
@media screen and (min-width: 744px) {
  .section-sponsors-label-wrapper {
    display: block;
    position: absolute;
    right: 55px;
    bottom: 99px;
  }
}
@media screen and (min-width: 1280px) {
  .section-sponsors-label-wrapper {
    display: none;
  }
}

.section-sponsors-label {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 100px;
  line-height: 0.35;
  color: #f5f5f5;
  transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-sponsors-label:hover {
  color: var(--button-background-hover-color);
}

@keyframes rowAnimation {
  0% {
    transform: translateX(7px);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(7px);
  }
}
.footer {
  background-color: var(--main-color);
  padding: 20px 0 14px;
  color: var(--white-text-color);
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 744px) {
  .footer {
    padding: 46px 0 43px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 0 52px;
  }
}

.logo-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  margin-left: 18px;
  margin-bottom: 10px;
}
.footer-logo img {
  width: 78.21px;
  height: 57px;
}
@media screen and (min-width: 1280px) {
  .footer-logo img {
    width: 120px;
    height: 87.46px;
  }
}
@media screen and (min-width: 744px) {
  .footer-logo {
    margin-left: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo {
    margin-left: 148px;
    margin-bottom: 4.54px;
  }
}

.footer-container {
  padding: 0 30px;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 744px) {
  .footer-container {
    padding: 0 76px 0 55px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    padding: 0 71px 0 168px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrapper {
    display: block;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 744px) {
  .wrapper-content-desk {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper-content-desk {
    display: flex;
    align-items: end;
    margin-bottom: 53px;
  }
}

@media screen and (min-width: 744px) {
  .wrapper-tablet {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper-tablet {
    gap: 70px;
  }
}

@media screen and (min-width: 744px) {
  .footer-info {
    margin-right: 76px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-info {
    margin-right: auto;
  }
}

.footer-subtitle {
  font-size: 1.25rem;
  line-height: 1.185;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 8px;
}
@media screen and (min-width: 744px) {
  .footer-subtitle {
    min-width: 249px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-subtitle {
    font-size: 3rem;
    margin-bottom: 20px;
    max-width: 459px;
  }
}

.footer-text {
  color: #676b70;
  font-weight: 300;
  max-width: 214px;
  font-size: 0.875rem;
  line-height: 1.185;
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .footer-text {
    max-width: 320px;
    margin-bottom: 30px;
  }
}

.footer-email {
  font-size: 0.875rem;
  line-height: 1.185;
  color: var(--white-text-color);
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 40px;
}
@media screen and (min-width: 744px) {
  .footer-email {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-email {
    font-size: 1.5625rem;
    line-height: 1.1852;
    gap: 7px;
    margin-bottom: 49px;
  }
}

.icon-mob {
  display: block;
  width: 12px;
  height: 10px;
  animation: rowAnimation 1.5s infinite ease-in-out;
}
@media screen and (min-width: 1280px) {
  .icon-mob {
    display: none;
  }
}

.icon-desk {
  display: none;
  width: 37px;
  height: 18px;
  animation: rowAnimation 1.5s infinite ease-in-out;
}
@media screen and (min-width: 1280px) {
  .icon-desk {
    display: block;
  }
}

.footer-address,
.footer-social {
  margin-bottom: 40px;
}
@media screen and (min-width: 744px) {
  .footer-address,
  .footer-social {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 744px) {
  .footer-address {
    margin-right: 25px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-address {
    margin-right: 0;
  }
}

.footer-title {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.185;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-address-text {
  color: #676b70;
  font-size: 0.875rem;
  line-height: 1.57;
  font-family: "Inter", sans-serif;
}

.footer-soc-list {
  display: flex;
  gap: 12px;
}
.footer-soc-list a {
  color: #676b70;
  font-size: 0.875rem;
  line-height: 1.785;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
@media screen and (min-width: 744px) {
  .footer-nav {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.footer-nav.nav-tablet {
  display: none;
}
@media screen and (min-width: 744px) {
  .footer-nav.nav-tablet {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .footer-nav.nav-tablet {
    display: none;
  }
}

.footer-nav-link {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.185;
  text-transform: uppercase;
}
@media screen and (min-width: 744px) {
  .footer-nav-link {
    font-weight: 400;
    text-transform: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer-nav-link {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.copyright-text {
  color: #676b70;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  line-height: 1.67;
  width: 167px;
}
@media screen and (min-width: 744px) {
  .copyright-text {
    width: auto;
  }
}

.signature {
  text-align: center;
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.67;
}
@media screen and (min-width: 1280px) {
  .signature {
    font-size: 0.875rem;
    line-height: 1.185;
  }
}
.signature a {
  display: inline-block;
  margin-right: 7px;
  color: var(--white-text-color);
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  perspective: 1600px;
  z-index: 7;
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotateY(180deg);
  transition: transform 500ms;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-top: 16px;
  font-family: Rubik;
  background-color: var(--secondary-background-color);
  color: var(--white-text-color);
  font-size: 20px;
  font-weight: 500;
  transition: transform 500ms;
  display: flex;
  flex-direction: column;
  transition: transform 300ms linear;
}
@media screen and (min-width: 768px) {
  .modal {
    color: var(--secondary-background-color);
    background-color: var(--main-background-color);
    width: 364px;
    max-height: 600px;
    padding-top: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    display: none;
  }
}

.modal-logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 33px;
}
@media screen and (min-width: 744px) {
  .modal-logo-wrapper {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.modal-logo-link {
  display: inline-block;
  cursor: pointer;
  align-self: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 744px) {
  .modal-logo-link {
    display: none;
  }
}
.modal-logo-pic {
  display: block;
  width: 78px;
  height: 57px;
}

.modal-logo-text-pic {
  display: block;
  width: 142px;
  height: 13px;
  margin-right: 34px;
}
@media screen and (min-width: 744px) {
  .modal-logo-text-pic {
    margin-right: 0;
  }
}
.modal-open-pic {
  top: 16px;
  right: 22px;
  position: absolute;
  width: 44px;
  height: 44px;
}
@media screen and (min-width: 1440px) {
  .modal-open-pic {
    display: none;
  }
}

.modal-close-pic {
  align-self: center;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 744px) {
  .modal-close-pic {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .modal-close-pic {
    display: none;
  }
}

.modal-close-icon-mobile {
  width: 40px;
  height: 40px;
  display: none;
}
.modal-close-icon-tab {
  width: 40px;
  height: 40px;
  display: none;
  display: inline;
}
.modal-list {
  display: flex;
  flex-direction: column;
  margin: 78px 30px 0 30px;
}
@media screen and (min-width: 744px) {
  .modal-list {
    margin: 38px 40px auto 40px;
  }
}
.modal-item {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
}
.modal-item:not(:last-child) {
  margin-bottom: 34px;
}
@media screen and (min-width: 1440px) {
  .modal-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .modal-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.modal-item-link {
  cursor: pointer;
}

.modal-item-number {
  margin-right: 12px;
  font-family: "Press Start 2P";
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
}
.modal-follow-us-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  font-family: Rubik;
  margin: 72px 30px 46px 30px;
}
@media screen and (min-width: 744px) {
  .modal-follow-us-wrapper {
    height: 126px;
    background-color: #f5f5f5;
    margin: 0px;
    padding: 72px 30px 46px 30px;
    width: 100%;
    justify-content: center;
  }
}

.modal-follow-us-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.modal-follow-us-list {
  display: flex;
}

.modal-follow-us-item:not(:last-child) {
  margin-right: 12px;
}

.modal-follow-us-link {
  cursor: pointer;
  color: #676b70;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.78;
}

.backdrop-cookies {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 17;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон (backdrop) */
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop-cookies.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-cookies.is-hidden .modal-cookies {
  transform: translate(-50%, -50%) scale(0.5) rotateY(180deg);
  transition: transform 500ms;
}

.modal-cookies {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 126px;
  padding: 0 50px;
  font-family: Rubik;
  color: var(--secondary-background-color);
  background-color: var(--main-background-color);
  font-size: 20px;
  font-weight: 500;
  transition: transform 500ms;
  transition: transform 300ms linear;
}
@media screen and (min-width: 768px) {
  .modal-cookies {
    width: 432px;
    height: 160px;
    bottom: 20px;
    right: 55px;
    padding: 0 50 px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .modal-cookies {
    bottom: 26px;
    right: 56px;
    border: 1px solid #010101;
  }
}

.modal-cookies-info-wrapper {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .modal-cookies-info-wrapper {
    margin-bottom: 0px;
  }
}
.modal-cookies-text {
  font-size: 16px;
  color: #010101;
}
.modal-cookies-text:first-child {
  margin-bottom: 3px;
}
.modal-cookies-link {
  text-decoration-line: underline;
  color: #010101;
}
.modal-cookies-button {
  width: 100px;
  height: 44px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #010101;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #010101;
}
@media screen and (min-width: 768px) {
  .modal-cookies-button {
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=index.css.map */