<div class="mob-nav-list-wrapper">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-item-link">
        <span class="nav-item-number">01 </span>Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link">
        <span class="nav-item-number">02</span>About the event
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link"><span class="nav-item-number">03</span>Agenda</a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link"
        ><span class="nav-item-number">04</span>Speakers</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-item-link"
        ><span class="nav-item-number">05</span>Sponsors</a
      >
    </li>
  </ul>

  <div class="follow-us-wrapper">
    <h3 class="follow-us-title">Follow us</h3>
    <ul class="follow-us-list">
      <li class="follow-us-item">
        <a href="" class="follow-us-link">Fb</a>
      </li>
      <li class="follow-us-item">
        <a href="" class="follow-us-link">Tw</a>
      </li>
      <li class="follow-us-item">
        <a href="" class="follow-us-link">lg</a>
      </li>
      <li class="follow-us-item">
        <a href="" class="follow-us-link">Li</a>
      </li>
      <li class="follow-us-item">
        <a href="" class="follow-us-link">Vb</a>
      </li>
    </ul>
  </div>
</div>
