<div class="section-about">
  <p class="section-about-name">EVENT</p>
  <h2 class="section-about-title">About the event</h2>
  <div class="section-about-text">
    <p>
      CryptoBEAR is the blockchain conference network bringing together the key
      players of crypto industry and experts to redefine the future of finance.
    </p>
    <p>
      The edition of the CryptoBEAR will take place during on NOVEMBER 30, 2023
      in Dubai, with the world’s top crypto companies and blockchain
      entrepreneurs. Today, UAE, specifically Dubai is gearing up to become a
      global crypto hub.
    </p>
    <p>
      Thus, CryptoBEAR will be the gathering in the region on behalf of the
      world of blockchain and cryptocurrency, with a wide range of topics
      focused on the financial technologies of the future, extensive networking
      opportunities and participation from more than 40 countries.
    </p>
  </div>
  <div class="section-about-label-wrap">
    <p class="section-about-label">CRYPTO</p>
  </div>
</div>
