<div class="section-agenta">
  <p class="section-agenta-name">AGENDA</p>
  <h2 class="section-agenta-title desktop-title">Topics of&nbsp;discussion</h2>
  <h2 class="section-agenta-title tablet-title">Topics of discussion</h2>
  <div class="section-agenta-label-wrap">
    <p class="section-agenta-label">3.0</p>
  </div>
  <ul class="agenta-card-list">
    <li class="agenta-card">
      <div><p class="agenta-card-number">01</p></div>
      <div>
        <h5 class="agenta-card-title">What web 3.0 means for enterprises</h5>
        <p class="agenta-card-author">(Sunny Lu)</p>
        <p class="agenta-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit,
          aliquam quis optio, veniam natus vero eius commodi alias laboriosam a,
          ab labore quas rerum officia quasi ad culpa error.
        </p>
      </div>
    </li>
    <li class="agenta-card">
      <div><p class="agenta-card-number">02</p></div>
      <div>
        <h5 class="agenta-card-title">Value creation in the metaverse</h5>
        <p class="agenta-card-author">(Gracy Chen)</p>
        <p class="agenta-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit,
          aliquam quis optio, veniam natus vero eius commodi alias laboriosam a,
          ab labore quas rerum officia quasi ad culpa error.
        </p>
      </div>
    </li>
    <li class="agenta-card">
      <div><p class="agenta-card-number">03</p></div>
      <div>
        <h5 class="agenta-card-title">
          The role of stablecoins in a decentralized ecosystem
        </h5>
        <p class="agenta-card-author">
          (Nena Dokuzov & Jean Charles Gaudechon)
        </p>
        <p class="agenta-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit,
          aliquam quis optio, veniam natus vero eius commodi alias laboriosam a,
          ab labore quas rerum officia quasi ad culpa error.
        </p>
      </div>
    </li>
    <li class="agenta-card">
      <div><p class="agenta-card-number">04</p></div>
      <div>
        <h5 class="agenta-card-title">Value creation in the metaverse</h5>
        <p class="agenta-card-author">(Gracy Chen)</p>
        <p class="agenta-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit,
          aliquam quis optio, veniam natus vero eius commodi alias laboriosam a,
          ab labore quas rerum officia quasi ad culpa error.
        </p>
      </div>
    </li>
    <li class="agenta-card">
      <div><p class="agenta-card-number">05</p></div>
      <div>
        <h5 class="agenta-card-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, vero!
        </h5>
        <p class="agenta-card-author">(Lorem ipsum)</p>
        <p class="agenta-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit,
          aliquam quis optio, veniam natus vero eius commodi alias laboriosam a,
          ab labore quas rerum officia quasi ad culpa error.
        </p>
      </div>
    </li>
    <li class="agenta-card">
      <div><p class="agenta-card-number">06</p></div>
      <div>
        <h5 class="agenta-card-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, vero!
        </h5>
        <p class="agenta-card-author">(Lorem ipsum)</p>
        <p class="agenta-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit,
          aliquam quis optio, veniam natus vero eius commodi alias laboriosam a,
          ab labore quas rerum officia quasi ad culpa error.
        </p>
      </div>
    </li>
    <li class="agenta-card">
      <div><p class="agenta-card-number">07</p></div>
      <div>
        <h5 class="agenta-card-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, vero!
        </h5>
        <p class="agenta-card-author">(Lorem ipsum)</p>
        <p class="agenta-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis odit,
          aliquam quis optio, veniam natus vero eius commodi alias laboriosam a,
          ab labore quas rerum officia quasi ad culpa error.
        </p>
      </div>
    </li>
  </ul>
  <div class="agenta-scroll-wrap">
    <div class="empty-scroll-wrap"></div>
    <button class="agenta-scroll-button">
      <p class="agenta-scroll-button-text">Scroll</p>
      <img
        class="agenta-scroll-arrow"
        src="./images/long-arrow-right-black.svg"
        alt="agenta-scroll-arrow"
      />
    </button>
  </div>
  <div class="section-agenta-lower-label-wrap">
    <p class="section-agenta-lower-label">WEB</p>
  </div>
</div>
