<!---------------------------FOOTER------------------------->
<footer class="footer">
  <div class="logo-container">
  <a href="/" class="footer-logo">
    <picture>
      <source
        srcset="./images/logo-footer.png 1x, ./images/logo-footer@2x.png 2x"
      />
      <img src="./images/logo-footer@2x.png" alt="logo" /> </picture
  ></a>
</div>
  <div class="footer-container">
    <div class="footer-wrapper">
      <div class="wrapper-content-desk">
        <div class="footer-info">
          <h2 class="footer-subtitle">We would love to hear from you.</h2>
          <p class="footer-text">
            Feel free to reach out if you want to collaborate with us, or simply
            have a chat.
          </p>
          <a href="mailto:saleem@hqmena.com" class="footer-email"
            >saleem@hqmena.com
            <img
              src="./images/arrow-right.svg"
              alt="arrow-right"
              class="icon-mob"
            />
            <img
              src="./images/long-arrow-right.svg"
              alt="arrow-right"
              class="icon-desk"
            />
          </a>
        </div>
        <div class="wrapper-tablet">
          <div class="footer-address">
            <h3 class="footer-title">Our address</h3>
            <p class="footer-address-text">Dubai:901,</p>
            <p class="footer-address-text">City Tower 2,</p>
            <p class="footer-address-text">Sheikh Zayed Road,</p>
            <p class="footer-address-text">Dubai,</p>
            <p class="footer-address-text">United Arab Emirates.</p>
          </div>

          <div class="footer-social">
            <h3 class="footer-title">Follow us</h3>
            <ul class="footer-soc-list">
              <li><a href="">Fb</a></li>
              <li><a href="">Tw</a></li>
              <li><a href="">Ig</a></li>
              <li><a href="">Li</a></li>
              <li><a href="">Vb</a></li>
            </ul>
          </div>
        </div>
    
      <nav class="footer-nav">
        <a href="#home" class="footer-nav-link">Home</a
        ><a href="#about" class="footer-nav-link">About the event</a
        ><a href="#agenda" class="footer-nav-link">Agenda</a
        ><a href="#speakers" class="footer-nav-link">Speakers</a
        ><a href="#sponsors" class="footer-nav-link">Sponsors</a>
      </nav>
    </div>

      <nav class="footer-nav nav-tablet">
        <a href="#home" class="footer-nav-link">Home</a
        ><a href="#about" class="footer-nav-link">About the event</a
        ><a href="#agenda" class="footer-nav-link">Agenda</a
        ><a href="#speakers" class="footer-nav-link">Speakers</a
        ><a href="#sponsors" class="footer-nav-link">Sponsors</a>
      </nav>


    <p class="copyright-text">
      Copyright © 2023 Cryptobear. All Rights Reserved
    </p>

    <p class="signature">Designed by <a href="https://www.behance.net/31d799ae" target="_blank"
              rel="noopener noreferrer nofollow">Yana Lyahovetska</a></p>
  </div>
</footer>
