<!-- HEADER -->
<header class="section" id="header">
  <div class="container header">
    <nav class="nav">
      <div class="nav-logo-wrapper">
        <!-- <a class="nav-logo-link"> -->
        <img
          class="nav-logo-pic"
          src="./images/logo-bear.png"
          width="78"
          height="57"
          alt="logo-picture"
        />
        <img
          class="nav-logo-text-pic"
          src="./images/cryptobear.svg"
          width="142"
          height="13"
          alt="logo-text-picture"
        />
        <!-- </a> -->
        <img
          class="nav-open-pic"
          src="./images/open-nav-logo.svg"
          width="44"
          height="44"
          alt="nav-open-picture"
        />
      </div>
      <div class="hero-animation">
        <div class="hero-letter"><img  class="hero-animation-icon"
          src="./images/b-icon.svg"
          width="30"
          height="30"
          alt="hero-animation-icon"/></div>
        <div class="hero-letter"><img  class="hero-animation-icon"
          src="./images/3-icon.svg"
          width="30"
          height="30"
          alt="hero-animation-icon"/></div>
        <div class="hero-letter"><img  class="hero-animation-icon"
          src="./images/o-icon.svg"
          width="10"
          height="10"
          alt="hero-animation-icon"/></div>
        <div class="hero-letter"><img  class="hero-animation-icon"
          src="./images/w-icon.svg"
          width="10"
          height="10"
          alt="hero-animation-icon"/></div>
        <div class="hero-letter"><img  class="hero-animation-icon"
          src="./images/e-icon.svg"
          width="10"
          height="10"
          alt="hero-animation-icon"/></div> 
       
      </div>
<!-- <div class="hero-wrapper">
<h1 class="hero-title">CryptoBEAR Dybai 2023 </h1>
<p class="hero-date-text">November 30, 2023</p>
<p class="hero-place-text">Dubai, ATLANTIS, THE PALM </p>
<p class="hero-bottom-text">Identify game-changing trends in the Web 3.0 ecosystem.</p>
<button class="hero-button" type="button" >Buy a ticket</button>
</div> -->
      <!-- <ul class="nav-list">
        <li class="nav-item"><span class="nav-item-number">01</span>Home</li>
        <li class="nav-item">
          <span class="nav-item-number">02</span>About the event
        </li>
        <li class="nav-item"><span class="nav-item-number">03</span>Agenda</li>
        <li class="nav-item">
          <span class="nav-item-number">04</span>Speakers
        </li>
        <li class="nav-item">
          <span class="nav-item-number">05</span>Sponsors
        </li>
      </ul>
    </nav>
    <div class="follow-us-wrapper">
      <h3 class="follow-us-title">Follow us</h3>
      <ul class="follow-us-list">
        <li class="follow-us-item">
          <a href="" class="follow-us-link">Fb</a>
        </li>
        <li class="follow-us-item">
          <a href="" class="follow-us-link">Tw</a>
        </li>
        <li class="follow-us-item">
          <a href="" class="follow-us-link">lg</a>
        </li>
        <li class="follow-us-item">
          <a href="" class="follow-us-link">Li</a>
        </li>
        <li class="follow-us-item">
          <a href="" class="follow-us-link">Vb</a>
        </li>
      </ul>
    </div> -->
  </div>
</header>
<!-- HEADER END -->
