<!-- HEADER -->
<header class="section-header" id="header">
  <div class="header">
    <nav class="nav continer">
      <div class="nav-logo-wrapper">
        <a class="nav-logo-link" href="#">
          <img
            class="nav-logo-pic"
            src="./images/logo-bear.png"
            width="78"
            height="57"
            alt="logo-picture"
          />
          <img
            class="nav-logo-text-pic"
            src="./images/cryptobear.svg"
            width="142"
            height="13"
            alt="logo-text-picture"
          />
        </a>
        <include src="./components/nav-list.html"></include>
        <button class="nav-button" type="button">Buy a ticket</button>
        <img
          class="nav-open-pic data-modal-open"
          src="./images/open-nav-logo.svg"
          width="44"
          height="44"
          alt="nav-open-picture"
        />
        <!-- </button> -->
      </div>
      <div class="hero-animation-wrapper">
        <div class="hero-animation">
          <div class="hero-letter">
            <img
              class="hero-animation-icon"
              src="./images/b-icon.svg"
              alt="hero-animation-icon"
            />
          </div>
          <div class="hero-letter">
            <img
              class="hero-animation-icon"
              src="./images/3-icon.svg"
              alt="hero-animation-icon"
            />
          </div>
          <div class="hero-letter">
            <img
              class="hero-animation-icon"
              src="./images/o-icon.svg"
              alt="hero-animation-icon"
            />
          </div>
          <div class="hero-letter">
            <img
              class="hero-animation-icon"
              src="./images/w-icon.svg"
              alt="hero-animation-icon"
            />
          </div>
          <div class="hero-letter">
            <img
              class="hero-animation-icon"
              src="./images/e-icon.svg"
              alt="hero-animation-icon"
            />
          </div>
        </div>
      </div>
      <div class="hero-wrapper">
        <div class="hero-wrapper-top">
          <h1 class="hero-title">Cryptobear Dybai 2023</h1>
          <div class="hero-wrapper-middle">
            <p class="hero-date-text">November 30, 2023</p>
            <p class="hero-place-text">Dubai, Atlantis, the Palm</p>
          </div>
        </div>

        <p class="hero-bottom-text">
          Identify game-changing trends in the Web 3.0 ecosystem.
        </p>
        <button class="hero-button" type="button">Buy a ticket</button>
        <div class="hero-move-down-wrapper">
          <a class="hero-move-down-link" href="#">
            <p class="hero-move-down-text">right this way</p>
            <img
              class="hero-move-down-img"
              src="./images/arrow-down.svg"
              width="18"
              height="37"
              alt="arrow-down-picture"
            />
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
