<div class="backdrop is-hidden data-modal" data-mobile-menu>
  <div class="modal">
    <div class="modal-logo-wrapper">
      <a class="modal-logo-link" href="#">
        <img
          class="modal-logo-pic"
          src="./images/logo-bear.png"
          width="78"
          height="57"
          alt="logo-picture"
        />
        <img
          class="modal-logo-text-pic"
          src="./images/cryptobear.svg"
          width="142"
          height="13"
          alt="logo-text-picture"
        />
      </a>
      <!-- <a class="data-modal-close modal-close-pic"> -->
      <!-- <img
          class="modal-close-icon"
          src="./images/xxx.svg"
          width="26"
          height="10"
          alt="modal-open-picture"
        /> -->
      <svg class="modal-close-icon" width="40" height="40">
        <use href="./images/xxx.svg" width="40" height="40" />
      </svg>
      <!-- </a> -->
    </div>
    <!-- <div class="modal-list-wrapper"> -->
    <ul class="modal-list">
      <li class="modal-item">
        <a class="modal-item-link">
          <span class="modal-item-number">01</span>Home
        </a>
      </li>
      <li class="modal-item">
        <a class="modal-item-link">
          <span class="modal-item-number">02</span>About the event
        </a>
      </li>
      <li class="modal-item">
        <a class="modal-item-link"
          ><span class="modal-item-number">03</span>Agenda</a
        >
      </li>
      <li class="modal-item">
        <a class="modal-item-link"
          ><span class="modal-item-number">04</span>Speakers</a
        >
      </li>
      <li class="modal-item">
        <a class="modal-item-link"
          ><span class="modal-item-number">05</span>Sponsors</a
        >
      </li>
    </ul>
    <div class="modal-follow-us-wrapper">
      <h3 class="modal-follow-us-title">Follow us</h3>
      <ul class="modal-follow-us-list">
        <li class="modal-follow-us-item">
          <a href="" class="modal-follow-us-link">Fb</a>
        </li>
        <li class="modal-follow-us-item">
          <a href="" class="modal-follow-us-link">Tw</a>
        </li>
        <li class="modal-follow-us-item">
          <a href="" class="modal-follow-us-link">lg</a>
        </li>
        <li class="modal-follow-us-item">
          <a href="" class="modal-follow-us-link">Li</a>
        </li>
        <li class="modal-follow-us-item">
          <a href="" class="modal-follow-us-link">Vb</a>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
</div>
