<div>
  <p>SPEAKERS</p>
  <h3>SPEAKERS OF THE CONFERENCE</h3>
  <ul>
    <li>
      <img src="../images/photo/1-320.jpg" alt="" />
      <p>Sunny Lu</p>
      <p>Vechain</p>
    </li>
    <li>
      <img src="../images/photo/2-320.jpg" alt="" />
      <p>Helen Hai</p>
      <p>Binance</p>
    </li>
    <li>
      <img src="../images/photo/3-320.jpg" alt="" />
      <p>Alex Zinder</p>
      <p>Ledger Enterprise</p>
    </li>
    <li>
      <img src="../images/photo/4-320.jpg" alt="" />
      <p>Gracy Chen</p>
      <p>Bitget</p>
    </li>
    <li>
      <img src="../images/photo/5-320.jpg" alt="" />
      <p>Mohammed Alblooshi</p>
      <p>Dubai International Financial Centre Authority</p>
    </li>
    <li>
      <img src="../images/photo/6-320.jpg" alt="" />
      <p>Max Kordek</p>
      <p>Lisk</p>
    </li>
    <li>
      <img src="../images/photo/7-320.jpg" alt="" />
      <p>Nena Dokuzov</p>
      <p>Alserkal Group</p>
    </li>
    <li>
      <img src="../images/photo/8-320.jpg" alt="" />
      <p>Reece Merrick</p>
      <p>Ripple</p>
    </li>
    <li>
      <img src="../images/photo/9-320.jpg" alt="" />
      <p>Dina Sam'an</p>
      <p>Coinmena</p>
    </li>
    <li>
      <img src="../images/photo/10-320.jpg" alt="" />
      <p>Jean Charles-Gaudechon</p>
      <p>OneFootball Labs</p>
    </li>
    <li>
      <img src="../images/photo/11-320.jpg" alt="" />
      <p>Nicole Purin</p>
      <p>OKX</p>
    </li>
    <li>
      <img src="../images/photo/12-320.jpg" alt="" />
      <p>Jason Allegrante</p>
      <p>Fireblocks</p>
    </li>
  </ul>
</div>
