<div class="speaker-title-wrapper">
  <p class="section-speakers-name">SPEAKERS</p>
  <h2 class="section-speakers-title">Speakers of the conference</h2>
</div>
<div class="speakers-wrapper">
  <section class="section-speakers">
    <ul class="speakers-list">
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/1-320.jpg"
          alt="Sunny Lu"
        />
        <p class="speakers-name-text">Sunny Lu</p>
        <p class="speakers-platform-text">Vechain</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/2-320.jpg"
          alt="Helen Hai"
        />
        <p class="speakers-name-text">Helen Hai</p>
        <p class="speakers-platform-text">Binance</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/3-320.jpg"
          alt="Alex Zinder"
        />
        <p class="speakers-name-text">Alex Zinder</p>
        <p class="speakers-platform-text">Ledger Enterprise</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/4-320.jpg"
          alt="Gracy Chen"
        />
        <p class="speakers-name-text">Gracy Chen</p>
        <p class="speakers-platform-text">Bitget</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/5-320.jpg"
          alt="Mohammed Alblooshi"
        />
        <p class="speakers-name-text">Mohammed Alblooshi</p>
        <p class="speakers-platform-text">
          Dubai International Financial Centre Authority
        </p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/6-320.jpg"
          alt="Max Kordek"
        />
        <p class="speakers-name-text">Max Kordek</p>
        <p class="speakers-platform-text">Lisk</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/7-320.jpg"
          alt="Nena Dokuzov"
        />
        <p class="speakers-name-text">Nena Dokuzov</p>
        <p class="speakers-platform-text">Alserkal Group</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/8-320.jpg"
          alt="Reece Merrick"
        />
        <p class="speakers-name-text">Reece Merrick</p>
        <p class="speakers-platform-text">Ripple</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/9-320.jpg"
          alt="Dina Sam'an"
        />
        <p class="speakers-name-text">Dina Sam'an</p>
        <p class="speakers-platform-text">Coinmena</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/10-320.jpg"
          alt="Jean Charles-Gaudechon"
        />
        <p class="speakers-name-text">Jean Charles-Gaudechon</p>
        <p class="speakers-platform-text">OneFootball Labs</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/11-320.jpg"
          alt="Nicole Purin"
        />
        <p class="speakers-name-text">Nicole Purin</p>
        <p class="speakers-platform-text">OKX</p>
      </li>
      <li class="speakers-item">
        <img
          class="speakers-photo"
          src="./images/photo/12-320.jpg"
          alt="Jason Allegrante"
        />
        <p class="speakers-name-text">Jason Allegrante</p>
        <p class="speakers-platform-text">Fireblocks</p>
      </li>
    </ul>
    <div class="speakers-btn-list">
      <button type="button" class="speakers-slider-prev">
        <img
          src="./images/long-arrow-right-black.svg"
          alt="agenta-scroll-arrow"
        />
      </button>
      <button type="button" class="speakers-slider-next">
        <img
          src="./images/long-arrow-right-black.svg"
          alt="agenta-scroll-arrow"
        />
      </button>
    </div>
  </section>
</div>
