<section class="section-sponsors">
  <div class="container">
    <p class="section-sponsors-name">SPONSORS</p>
    <h2 class="sponsors-title">Our Sponsors</h2>
    <ul class="sponsors-list">
      <li class="sponsors-list-item">
        <img src="./images/sponsors/18Ventures.svg" alt="18Ventures" />
      </li>
      <li class="sponsors-list-item">
        <img src="./images/sponsors/Momentum.svg" alt="Momentum" />
      </li>
      <li class="sponsors-list-item">
        <img src="./images/sponsors/Annex-Investments.svg" alt="AnneX" />
      </li>

      <li class="sponsors-list-item">
        <img src="./images/sponsors/C3.svg" alt="c3" />
      </li>
      <li class="sponsors-list-item">
        <img src="./images/sponsors/TykheBlockVentures.svg" alt="Tykhe Block" />
      </li>
      <li class="sponsors-list-item">
        <img src="./images/sponsors/WoodstockFund.svg" alt="Woodstock" />
      </li>
      <li class="sponsors-list-item">
        <img src="./images/sponsors/DSA-Investments.svg" alt="Dsa" />
      </li>
      <li class="sponsors-list-item">
        <img src="./images/sponsors/888vc.svg" alt="888vc" />
      </li>
    </ul>
    <div class="section-sponsors-label-wrapper">
      <p class="section-sponsors-label">WEB</p>
    </div>
  </div>
</section>
