<!-- Timer -->

<section class="section-timer">
  <div class="timer-gradient">
    <div class="container container-timer">
      <h3 class="subtext-timer">left before the conference</h3>
      <div class="timer">
        <div class="timer-wrapper">
          <span class="timer-value">60</span>
          <span class="timer-text">Days</span>
        </div>
        <span class="timer-divider">:</span>
        <div class="timer-wrapper">
          <span class="timer-value">12</span>
          <span class="timer-text">Hours</span>
        </div>
        <span class="timer-divider"">:</span>
        <div class="timer-wrapper">
          <span class="timer-value">36</span>
          <span class="timer-text">Minutes</span>
        </div>
        <span class="timer-divider"">:</span>
        <div class="timer-wrapper">
          <span class="timer-value">07</span>
          <span class="timer-text">Seconds</span>
        </div>
      </div>
    </div>
  </div>
</section>
