.section-about {
  margin-right: 30px;
  margin-bottom: 34px;
  border-bottom: 1px solid #f5f5f5;

  @media screen and (min-width: 744px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1440px) {
    position: relative;
    margin-right: 55px;
  }
}
.section-about-name {
  font-family: Rubik;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;

  @media screen and (min-width: 1440px) {
    padding-top: 0px;
    margin-top: 96px;
    margin-bottom: 59px;
    font-size: 16px;
    padding-top: 0px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 46px;
    border-top: 1px solid #010101;
    margin-right: 10px;
    vertical-align: super;

    @media screen and (min-width: 1440px) {
      width: 77px;
      margin-right: 16px;
      position: absolute;
      top: 10px;
      left: -89px;
    }
  }
}

.section-about-title {
  width: 200px;
  text-transform: uppercase;
  font-family: "Press Start 2P";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;

  @media screen and (min-width: 744px) {
    width: 300px;
  }
  @media screen and (min-width: 1440px) {
    width: 900px;
    font-size: 60px;
    margin-bottom: 44px;
  }
}

.section-about-text {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;

  @media screen and (min-width: 744px) {
    padding-bottom: 36px;
    width: 602px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 71px;
    width: 768px;
  }
}

.section-about-text > p {
  font-family: Rubik;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5625;

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    line-height: 1.5;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.section-about-label {
  margin: 26px 0 34px 0;

  color: #f5f5f5;
  font-size: 62px;
  font-family: Rubik;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.8;
  transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 744px) {
    font-size: 100px;
    line-height: 120px;
    margin: 0;
  }

  @media screen and (min-width: 1440px) {
    font-size: 200px;
    width: 831px;
    margin: 96px 0 42px 0;
  }

  &:hover,
  :focus {
    color: #0513e6;
  }
}

.section-about-label-wrap {
  width: 258px;
  display: flex;
  @media screen and (min-width: 744px) {
    width: auto;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 42px;
  }
}
