.section-wrapper {
  margin-left: 30px;
  border-left: 1px solid #f5f5f5;
  @media screen and (min-width: 744px) {
    margin-left: 55px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 281px;
  }
}

.section-agenta {
  z-index: 3;
  max-width: 1980px;
  margin-right: 56px;

  @media screen and (min-width: 744px) {
    margin-right: 136px;
  }

  @media screen and (min-width: 1440px) {
    position: relative;
    margin-right: 56px;
  }
}

.section-agenta-name {
  font-family: Rubik;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;

  @media screen and (min-width: 744px) {
    margin-top: 38px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 62px;
    margin-bottom: 59px;
    font-size: 16px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 46px;
    border-top: 1px solid #010101;
    margin-right: 10px;
    vertical-align: super;

    @media screen and (min-width: 1440px) {
      width: 77px;
      margin-right: 16px;
      position: absolute;
      top: 9px;
      left: -89px;
    }
  }
}

.desktop-title {
  display: block;
  @media screen and (min-width: 744px) {
    display: none;
  }
  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.tablet-title {
  display: none;
  @media screen and (min-width: 744px) {
    display: block;
  }
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.section-agenta-title {
  width: 260px;
  font-size: 20px;
  font-family: "Press Start 2P";
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 22px;

  @media screen and (min-width: 744px) {
    width: 400px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 60px;
    width: 780px;
    height: 180px;
    line-height: 90px;
  }
}

.section-agenta-label {
  @media screen and (min-width: 1440px) {
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: Rubik;
    font-size: 250px;
    font-weight: 800;
    transition: color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  :focus {
    color: #0513e6;
  }
}

.section-agenta-label-wrap {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    visibility: visible;
    justify-content: flex-end;
    position: absolute;
    top: 135px;
    right: 0px;
    line-height: 0.8;
    z-index: -1;
  }
}

.agenta-card-list {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 744px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    border-bottom: 1px solid #f5f5f5;
  }
  @media screen and (min-width: 1440px) {
    border-top: 1px solid #f5f5f5;
    grid-column-gap: 52px;
    margin-top: 78px;
  }
}

.agenta-card {
  padding-bottom: 8px;
  width: 259px;
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  @media screen and (min-width: 744px) {
    padding-bottom: 30px;
    width: 265px;
  }
  @media screen and (min-width: 1440px) {
    padding-left: 35px;
    padding-top: 30px;
    width: 508px;
    padding-bottom: 44px;
  }
}
.agenta-card-list li:nth-child(4n - 3),
.agenta-card-list li:nth-child(4n - 2) {
  @media screen and (min-width: 744px) {
    padding-top: 0;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 30px;
  }
}
.agenta-card-list li:nth-child(n + 5) {
  @media screen and (min-width: 744px) {
    display: none;
  }
}
.agenta-card-list li:nth-child(n + 2) {
  @media screen and (max-width: 744px) {
    display: none;
  }
}
.agenta-card-list li:nth-child(2n) {
  @media screen and (min-width: 1440) {
    border-left: 1px solid #f5f5f5;

    margin-right: 168px;
  }
}

.agenta-card-number {
  margin-right: 14px;
  color: #010101;
  font-size: 16px;
  font-family: "Press Start 2P";
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}

.agenta-card-title {
  color: #010101;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  margin-bottom: 6px;

  @media screen and (min-width: 1440px) {
    font-size: 25px;
  }
}
.agenta-card-author {
  color: #010101;
  font-size: 14px;
  font-family: Rubik;
  font-weight: 500;
  margin-bottom: 8px;
  @media screen and (min-width: 744px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    line-height: 32.36px;
  }
}
.agenta-card-text {
  color: #010101;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  line-height: 25px;
}

.agenta-scroll-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.agenta-scroll-button-text {
  color: #010101;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  line-height: 25px;
}
.agenta-scroll-arrow {
  margin-left: 25px;
  width: 37px;
  height: 18px;
  animation: rowAnimation 1.5s infinite ease-in-out;
}
.empty-scroll-wrap {
  border-right: 1px solid #f5f5f5;
  @media screen and (min-width: 744px) {
    border-right: none;
  }
}
.agenta-scroll-button {
  margin-top: 19px;
  padding-bottom: 54px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  @media screen and (min-width: 744px) {
    padding-bottom: 36px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 48px;
    margin-right: 84px;
    padding-bottom: 129px;
  }
}

.section-agenta-lower-label {
  @media screen and (min-width: 1440px) {
    color: #f5f5f5;
    font-size: 250px;
    font-family: Rubik;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 200px;
    word-wrap: break-word;
    transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  :focus {
    color: #0513e6;
    z-index: 100;
  }
}

.section-agenta-lower-label-wrap {
  display: none;

  @media screen and (min-width: 1440px) {
    width: 554px;
    height: 200px;
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 690px;
    left: -224px;
    z-index: -1;
  }
}
