.section-sponsors {
  position: relative;
}

.section-sponsors-name {
  font-family: Rubik;
  padding-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;

  @media screen and (min-width: 1440px) {
    margin-top: 96px;
    margin-bottom: 59px;
    font-size: 16px;
    padding-top: 0px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 46px;
    border-top: 1px solid #010101;
    margin-right: 10px;
    vertical-align: super;

    @media screen and (min-width: 1440px) {
      width: 77px;
      margin-right: 16px;
      position: absolute;
      top: 10px;
      left: -89px;
    }
  }
}

.sponsors-title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.25rem;

  text-transform: uppercase;
  margin-bottom: 19px;

  @media screen and (min-width: 744px) {
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 3.75rem;
  }
}

.sponsors-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @media screen and (min-width: 744px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    margin-bottom: 74px;
    margin-right: 206px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin-right: 0;
  }
}

.sponsors-list-item {
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100px;
    height: auto;

      @media screen and (min-width: 744px) {
height: fit-content;
      }

    @media screen and (min-width: 1280px) {
      width: 200px;

    }
  }
}

.section-sponsors-label-wrapper {
  display: none;
  @media screen and (min-width: 744px) {
    display: block;
    position: absolute;
    right: 55px;
    bottom: 99px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.section-sponsors-label {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 100px;
  line-height: 0.35;
  color: #f5f5f5;

  transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--button-background-hover-color);
  }
}
